<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CreatePlayListPage</title>
<link rel="stylesheet" th:href="@{/css/createPlaylist.css}">
</head>
<body>
<h1>Create PlayList</h1>
	<form action="addPlaylist" method="post">
		<label>PlayList Name: </label>
		<input type="text" name="name"/>
		<br></br>
		<div th:each="song:${songs}">
			<input type="checkbox" th:name="songs" th:value="${song.id}"/>
			<label th:text="${song.name}"></label>
		</div>
		<input type="submit" value="ADD PLAYLIST"/>
	</form>
</body>
</html>